$font-family: Arila, Helvatica, sans-serif;
$color: teal;
$primary-color: #0e6cff;
$secondary-color: #ff7700;
$bg-color: rgba(90, 79, 220, 0.025);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  line-height: 1.6;
  background-image: url(https://themesbrand.com/lezir/layout/images/hero-1-bg-img.png);
  background-size: cover;
  height: 1000px;
}

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.section {
  background: $bg-color;
  height: 700px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      font-size: 15px;
      padding: 15px;
    }

    a:hover {
      color: $secondary-color;
    }
  }
}
